* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #282b30;
    color: #F6F6F6;
    min-width: 100%;
    min-height: 100%;
}

.container {
    padding: 10px;
    margin: auto;
    text-align: justify;
    margin-top: 10%;
    margin-left: 2%;
}

.container .command-list {
    display: inline-block;
    max-width: 350px;
    margin: 3%;
    float: top;
}

.command-list p {
    font-size: 11.5px;
    padding: 5px 0px;
}

.command {
    color: #28a745;
    font-weight: bold;
}

.args {color: steelblue}