* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #282b30;
    color: #F6F6F6;
    min-width: 100%;
    min-height: 100%;
}

a.bot {color: #7289da}
a.twitter {color: #1da1f2}
a.github {color: #28a745}

a {
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    margin: 2%;
}

a i {
    font-size: 11px;
}

header {
    margin: 2%;
    text-align: center;
}

.container {
    padding: 10px;
    margin: auto;
    text-align: justify;
    margin-top: 10%;
    margin-left: 2%;
}

.container .command-list {
    display: inline-block;
    width: 31.9%;
    padding: 1em;
    margin: 0.5%;
    vertical-align: top
}

.command-list p {
    font-size: 11.5px;
    padding: 5px 0px;
}

.command {
    color: #28a745;
    font-weight: bold;
}

.args {color: steelblue}

@media (max-width: 480px) {
    .container .command-list {
        display: block;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .container .command-list {
        display: block;
        width: 100%;
    }
}