header {
    background-color: rgb(245, 245, 245);
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(41, 154, 189);
    font-size: 1.5em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 7px 14px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: rgb(20, 132, 167); 
    transition: color 0.5s;
}

header .nav-el:hover {
    border-bottom: 5px solid rgb(20, 132, 167);
    transition: ease-out 0.5s;
}