
body {
    min-width: 100%;
    min-height: 100%;

    background: #ffffff;
    color: rgb(66, 67, 78);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(66, 67, 78);
}

header {
    background: #f5f6f7;
}

.logo, .name-title {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.logo {
    padding-top: 1rem;
    transition: 1s ease;
 	-moz-transition: 1s ease; /* Firefox */
 	-webkit-transition: 1s ease; /* Chrome - Safari */
 	-o-transition: 1s ease; /* Opera */
}

.name-title {
    padding: 1px;
    font-size: 2vw;
}

main {
    width: 100%;
    border-top: 1px solid #d2d6dc;

    text-align: center;
}

.container {
    cursor: pointer;
    margin: 3rem;
    width: 500px;
    padding-bottom: 1rem;
    border-radius: 6px;
    border: 1px solid #d2d6dc;
    display: inline-block;
    font-size: 1rem;

    transition: 1s ease;
 	-moz-transition: 1s ease; /* Firefox */
 	-webkit-transition: 1s ease; /* Chrome - Safari */
 	-o-transition: 1s ease; /* Opera */
}

.container img {
    width: 500px;
    height: 250px;
    border-radius: 6px 6px 0 0;
}

.container:hover, .logo:hover {
    transform : scale(1.1);
	-moz-transform : scale(1.1); /* Firefox */
	-webkit-transform : scale(1.1); /* Chrome - Safari */
	-o-transform : scale(1.1); /* Opera */
	-ms-transform : scale(1.1); /* IE9 */
}

.container:active {
    border: 3px solid skyblue;
}